.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* nav styles  */

nav {
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;

}

nav div {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav div img {
  width: 100%;
  height: 100%;
}

nav div ul {
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;


}

nav ul li {
  list-style: none;
  margin-left: 22px;
}

.school {
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.home {
  font-size: 1.25rem;
  font-weight: 600;
  color: orange;
}

.about {
  font-size: 1.25rem;
  font-weight: 600;
  color: skyblue;
}

.facilities {
  font-size: 1.25rem;
  font-weight: 600;
  color: #05D4DF;
}

.admission {
  font-size: 1.25rem;
  font-weight: 600;
  color: #5D58EF;
}

.nav-btn button {
  font-size: 1.25rem;
  font-weight: 600;
  color: #FFFFFF;
  background-color: orange;
  border-radius: 12px;
  padding: 10px 50px;
  border: none;
  margin: 0px;
}

/* banner styles  */

.banner {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.banner-title {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0 auto;

}

.orange {
  color: orange;
}

.black {
  color: black;
}

.blue {
  color: skyblue;
}

.banner-subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: black;
}

.banner-btn {
  background-color: black;
  font-size: 1.25rem;
  font-weight: 700;
  color: #FFFFFF;
  padding: 10px 45px;
  border-radius: 12px;
  border: none;


}

/* standard curriculum styles  */

.curriculum {
  max-width: 1160px;
  margin: 0 auto;
  background-image: url(assets/bg.png);
}

.curriculum-title {
  font-size: 3.5rem;
  font-weight: 700;
  color: black;
  text-align: center;
}

.card-container {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.card-blue {
  width: 367px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 40px;
  background-image: linear-gradient(180deg, rgba(222, 245, 255, 1), #FFFFFF);
  border-radius: 18px;
  filter: drop-shadow(0px 0px 28px rgba(0, 0, 0, 0.09));
}

.card-yellow {
  width: 367px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 40px;
  background-image: linear-gradient(180deg, rgba(255, 244, 220, 1), #FFFFFF);
  border-radius: 18px;
  filter: drop-shadow(0px 0px 28px rgba(0, 0, 0, 0.09));
}

.card-violet {
  width: 367px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 40px;
  background-image: linear-gradient(180deg, rgba(242, 232, 255, 1), #FFFFFF);
  border-radius: 18px;
  filter: drop-shadow(0px 0px 28px rgba(0, 0, 0, 0.09));
}

.c-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.c-subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: #808080;
}

.card-blue button {
  border: none;
  color: #64C8FF;
  background: none;
  margin-top: 34px;
}

.card-yellow button {
  border: none;
  color: #F0AA00;
  background: none;
  margin-top: 34px;
}

.card-violet button {
  border: none;
  color: #8700FF;
  background: none;
  margin-top: 34px;
}

.icon-gl {
  text-align: center;
  margin-bottom: 60px;
}


.arrow {
  width: 60px;
  height: 60px;
  background-color: orange;
  color: white;
  font-size: 24px;
  border-radius: 30px;
  padding: 17px 22px;
}





@media only screen and (max-width:576px) {
  nav div h3 {
    display: none;
  }

  nav ul {
    display: none;
  }

  nav button {
    display: none;
  }

  .icon {
    font-size: 50px;
  }

  hr {
    color: orange;
  }

  nav {
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  /* banner responsive  */

  .banner {
    flex-direction: column-reverse;
  }

  .banner-img img {
    width: 100%;
    margin: 0 auto;
  }

  .banner-content {
    width: 100%;
    text-align: center;

  }

  .banner-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto;
  }

  .banner-subtitle {
    font-size: 0.8rem;
    font-weight: 400;
    color: black;
  }

  .curriculum {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;

  }

  .curriculum-title {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
  }

  .card-container {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
  }

  .card-blue,
  .card-yellow,
  .card-violet {
    width: 357px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  .c-title {
    font-size: 1rem;
    font-weight: 700;
    color: black;
  }

  .c-subtitle {
    font-size: 0.7rem;
    font-weight: 500;
    color: #808080;
  }

  .icon-gl {
    display: none;
  }
















}


@media only screen and (min-width:600px) {
  .icon {
    display: none;
  }

  hr {
    display: none;
  }

}